:root {
    --main-font:'Roboto', sans-serif;
    --secondary-font:'Raleway', sans-serif;
    --main-color:  #2196F3;
}

body {

    font-family: var(--main-font);
}


/* =======HEADER====== */
header {
    border-bottom: solid 1px #F5F4FA;
    width: 100%;
}


.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    
}

img {
    display: block;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}



.header {
display: flex;
    align-items: center;
    height: 80px;
}


.header_section{
    width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;

        display: flex;
            align-items: center;
}

.navigation {

        display: flex;
        align-items: center;
        width: 50%;
        gap: 93px
}
    .navigation_list {
        
        display: flex;
            list-style: none;
            gap: 32px;
            margin: 0;
            padding: 0px;
        }


    
.navigation_link {

    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.192;
        text-decoration: none;
        /* identical to box height */
    
        letter-spacing: 0.03em;
    
        color: #2196F3;
        color: #000000;

       
}

.web {
    color: #2196F3;
}
.nav_list_link {

   
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.142;
        letter-spacing: 0.02em;
        text-decoration: none;
    
        color: #212121;
}

.nav_list_link:hover,
.nav_list_link:focus,
.contacts_link:hover,
.contacts_link:focus,
.header_icon:hover,
.header_icon:focus
 {
    color: var(--main-color);
    fill:var(--main-color);
}


.contacts_link:focus svg,
.contacts_link:hover svg {
    fill: var(--main-color);
}

/* .contacts_item:hover,
.contacts_item:focus {
    fill: var(--main-color);
    color: var(--main-color);
} */


.contacts_list {
   
    display: flex;
        margin-left: auto;
        gap: 50px;
        list-style: none;
        margin: 0;
        padding: 0px;
       
       margin-left: auto;
       align-items: center;
       
}
.contacts_link {
    display: flex;
align-items: center;
  
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.142;
        letter-spacing: 0.02em;
        text-decoration: none;
    
        color: #757575;
      
}

.contacts_item {
    align-items:center ;
}

.header_icon {
    /* display:flex ; */
    /* justify-content: center; */
    align-items: center;
margin-right: 10px;
fill: #757575;


}

/* =======END HEADER====== */

/* =======MAIN====== */

ul,
ol {
    margin: 0;
    padding: 0
}

.background {
    width: 1600px;
    display: flex;
    justify-content: center;
    
        margin-right: auto;
        margin-left: auto;
}

.h1_section {
   background: #2F303A;

    height: 600px;
        display: flex;
        flex-direction: column;
        /* padding-top: 200px; */
        width: 1600px ;
        justify-content: center;
        align-items: center;
background-position: center;
background-repeat: no-repeat;
background-size:auto auto ;
/* max-width: 1600px; */
        background-image: linear-gradient(to bottom, #2f303a66 0%, #2f303a66 100%),
                url("../images/backgrond.jpg");
                /* margin-right: 0;
    margin-left:0; */
 }
        
        
        

.h1 {
    
        width: 696px;
        height: 120px;
        /* left: 452px;
        top: 200px;
        right: 452px;
        bottom: 280px; */

    font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.363;
        /* or 136% */
    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: #FFFFFF;
        margin:0 auto;
        
        padding-bottom: 30px;
}

.h1_btn {
    display: flex;
    /* top:350px;
    bottom: 200px; */
font-family: 'Roboto';
font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    /* identical to box height, or 188% */
    
    

 

    color: #FFFFFF;

    cursor: pointer;
  
    background-color:  #2196F3;;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
   margin:0 auto

   
}

.list {
    list-style: none;
    display: flex;
        justify-content: center;
        gap: 30px;
        padding-top: 94px;
        margin: 0;
}

.list_item {
    display: inline-block;
}

/* .background {
    background-image: linear-gradient(to bottom, #2f303a66 0%, #2f303a66 100%),
            url("../images/backgrond.jpg")
         
         
       background-size: auto auto;
                background-position: center;
                background-repeat: no-repeat;
} */


.list_item_h4 {
    
    font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.142;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #212121;
}

.list_item_p{
  
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.714;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: #757575;
}

.heading {
  
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.166;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
        padding-bottom: 50px;
        margin: 0;
        padding-top: 94px;
}

.img_list1 {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    
        padding-bottom: 94px;
        margin: 0;
    
}

.img_list_item {
    display: flex;
        justify-content: center;
        /* padding:  15px;
        padding-bottom: 50px; */
        
        
}
.img_list_item:nth-child(1) {
    padding-left: 0px;
}

.img_list_item:nth-child(3) {
    padding-right: 0px;
}
.img{
    display: block;
        width: 370px;
        height: 294px;
}

.team_section {
   
    
        width: 100%;
        height: 648px;
        left: 0px;
        top: 1449px;
    
        background: #F5F4FA;
        justify-content: center;
        padding-bottom: 94px;
}
.socialmedia {

    display: flex;
        justify-content: center;
        margin-top: 16px;
        grid-gap: 10px;
        padding-bottom: 30px;
        list-style: none;
}

.socialmedia_li  {
    display: flex;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        fill: #AFB1B8;
}

.socialmedia_li :hover,
.socialmedia_li :focus {
    fill:#FFFFFF;
background-color: #2196f3;
border-radius: 50%;
}
.heading_team {
font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
    padding-bottom: 50px;

    margin: 0;
    padding-top:94px ;
}
.team_list_item {
    height: 428px;
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}

.team_img_h5 {
   
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.187;
        /* identical to box height */
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;
        padding-top: 25px;
        margin: 0;
}

.team_list {
list-style: none;
display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0px;
}


.team_img_p {
  
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.187;
        /* identical to box height */
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #757575;
        padding-top: 10px;
        margin: 0;
}

.btn_section {
    display: flex;
    justify-content: center;
}

.btn_list {
    list-style: none;
    display: flex;
   
    margin: 0;
    padding-top: 94px;
    padding-left: 0px;
    padding-bottom: 50px;
    gap: 8px;
}

.btn {
font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.625;
        /* identical to box height, or 162% */
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #212121;

        background: #F5F4FA;
           
            cursor: pointer;
            border: 0;
}

.btn:hover,
.btn:focus {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.625;
        /* identical to box height, or 162% */
    
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #FFFFFF;

        background: #2196F3;
            /* shadow-middle */
        
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            
            cursor: pointer;
}

.img_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:30px;
    margin: 0;
    list-style: none;
    padding: 0;
    padding-bottom: 94px;

 
}

.img_list_item_1 {
justify-content: center;
    /* height: 404px; */
width: 370px;
    background: #FFFFFF;
        /* border: 1px solid #EEEEEE; */
        
       
}

.img_list_item_h5 {
    
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        /* identical to box height, or 200% */
    
        letter-spacing: 0.06em;
    
        color: #212121;
        padding-top: 20px;
        padding-left: 24px;
        margin: 0;
        
        border-left: solid 1px #EEEEEE;
        border-right:solid 1px #EEEEEE;

}

.img_list_item_p {
    
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.875;
        /* identical to box height, or 188% */
    
        letter-spacing: 0.03em;
        padding-top: 4px;
        padding-left: 24px;
        margin: 0;
    
        color: #757575;
        border-left: solid 1px #EEEEEE;
            border-right: solid 1px #EEEEEE;
            border-bottom:solid 1px #EEEEEE ;
            padding-bottom: 20px;
}

.clients_header {
font-style: normal;
font-weight: 700;
    font-size: 36px;
    line-height: 1.166;


    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 94px;
}

.clients_list{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 94px;
}

.client {

    border: 1px solid #AFB1B8;
        border-radius: 4px;
        width: 170px;
        height: 92px;
        margin: auto;
       
    }
 
    .client_a {
        border: 1px solid #afb1b8;
            border-radius: 4px;
            width: 170px;
            height: 92px;
            display: flex;
            align-items: center;
            justify-content: center;
    }

        .client_a:hover ,
        .client_a:focus {
border-color: #2196F3;
/* fill: #2196F3; */
                }
   .client_a:hover .client_svg,
   .client_a:focus .client_svg {
    fill: #2196F3;
   }

    .client_svg {
        fill: #afb1b8;
    }

/* =======END MAIN====== */

/* =======FOOTER====== */

.navigation_link--secondary {
    display: flex;
    color: #FFFFFF;
    /* padding: 60px 1240px 20px 215px; */
    margin: 0;
    /* padding-top: 60px; */
   margin-bottom: 20px;
}

.footer {
    display: column;
    justify-content: center;
    background: #2F303A;
   padding-top: 60px;
   padding-bottom: 60px;
        width: 1600px;
        /* height: 252px; */
        /* top: 1628px;
        left: 0px; */
        /* top: 2097px; */
        width: 100%;
        
}

.footer__secondary {
    display: flex;
    align-items: baseline;
}

.footer_contacts {
    display: inline-block;
}

.h3_footer {
    margin: 0;
}

.address {
    
    margin: 0;
   
    /* padding-left: 215px; */
    
}

.address_list {
    list-style: none;
    gap: 9px;
    padding-left: 0%;
    margin: 0;
    padding: 0px;
}

.address_p {
   
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.714;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: #FFFFFF;
        margin: 0;
        padding-bottom: 9px;
}

.address_list_item {
    padding-bottom: 9px;
}

.address_link {
    
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.714;
        text-decoration: none;
        /* or 171% */
    
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
}
 
.address_link:hover,
.address_link:focus {
    color: #2196F3;
    
}

.footer_2 {
    padding-left: 70px;
    /* margin-bottom: 70px; */
        display: inline-block;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #ffffff;
       
}

.footer_2_socialmedia {
    display: flex;
        gap: 10px;
        list-style: none;
        padding-top: 20px;
        /* margin-top: 20px; */
}



.social_svg {
    fill: white;
}

/* .socialmedia_li_2 {
    width: 44px;
    height: 44px;
} */

.socialmedia_li_2 :hover,
.socialmedia_li_2:focus {
    background-color:#2196f3 ;
    
    border-radius: 50%;
}
/* =======END FOOTER====== */